Flask
gunicorn
ipython
ipython-genutils
matplotlib
matplotlib-inline
numpy
opencv-python
pandas
prometheus-client
proto-plus
protobuf
psutil
pyquaternion
python-dateutil
pytz
PyYAML
pyzmq
seaborn
scikit-learn
scipy
torch
torchaudio
torchvision
tornados
tqdm
Werkzeug
uwsgi